

.App {
  text-align: center;
  background-color: #f5f5f5;
}

.container {
  display: grid;
  margin-top: 1rem;
}

.videoPlayer {
  height: 20rem; 
  width: 90%; 
  outline-style: solid;
  margin-top: 5rem; 
}

.search {
  height: 2rem; 
  width: 90%;
  margin-bottom: 5rem;
  margin-top: 5px; 
}

.jumbotron {
  background-image: url("./falconHeavy.jpg");
  padding-top: 25rem; 
  max-width: 95%;
  margin-left: 2rem;
}


.twitter {
  background-color:#bcd0c7;
}






