

.App {
  text-align: center;
  background-color: #f5f5f5;
}

.container {
  display: grid;
  background-color:#f5f5f5;
}

.videoPlayer {
  height: 25rem; 
  width: 100%; 
  outline-style: solid;

}

.search {
  height: 2rem; 
  width: 75%;
  margin-bottom: 5rem;
  margin-top: .5rem; 
}

.jumbotron {
  background-position: center;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  /* box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75); */
  border-radius: 5%;
  margin-top:2rem;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%; 
  background-color: #f5f5f5; 
}

.twitter {
  max-height: 40rem;
  overflow: scroll; 
  
}

.launch {
  margin:1rem;
  
}

.card {
  margin-bottom:1rem;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75); 
}

.navbar {
  width: 90%;
  padding-left: 11rem;
  /* padding-top: 2rem; */
  color:#2892d7;
}

#navItem {
  /* color:#58b9d1; */
  color:#2892d7; 
}

#map {
  /* background-color: blue; */
  height: 400px; 
  width: 100%;  
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
  margin-top: 2rem;

}

.iss-icon {
  background-image: url("./assets/space-station.png");
  background-position: center;
}

#logo {
  background-image: url('./assets/logo.png');
  background-position: center;
  background-size: cover;
  width:32%;
  height:5rem;

}

#pic {
  max-height: 3rem;
  max-width: 3rem;
  border-radius: 180%; 
  padding-bottom:none; 
  float: left; 
}

.tweet {
  max-height: fit-content;
  width: 100%;
  box-shadow: none;
  border-radius: 5%;
  font-size: 15px; 
}



